target/
build/
_build/
builddir/
build-aux/app
build-aux/.flatpak-builder/
src/config.rs
*.ui.in~
*.ui~
.flatpak/
vendor
libflatsync-common/src/config.rs
.flatpak-builder

/subprojects/blueprint-compiler
